<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
  </head>
  <body>
    <div id="container">
      <h1>Guess 4 numbers in range 1..6. You have one hint. Hint('h'). Quit('q')</h2>
      <form method="post" action="/update_guess">
        <input name="guess" type="text">
        <input type="submit" value="Say!">
      </form>
      <h2><%= guess %></h1>
    </div>
  </body>
</html>